---
interface Props {
    title: string;
    links: string[];
}

const { title, links } = Astro.props;

const pageLinks = links.map((link) => {
    return {
        name: `${link.toUpperCase()}`,
        path: `/${link.toLowerCase()}`,
    }
})

const transitionName = `${title.toLowerCase()}`
---
<nav class="nav-links">
    <a class="page-link" href="/">TIM&nbsp;HILTON</a>
    <div class="page-links">  
        {pageLinks.map((link) => {
            return <a class="page-link" href={link.path}>{link.name}</a>
        })}
    </div>
</nav>
<h2 transition:name={transitionName}>{title}</h2>
